@model SubmitViewModel


<div class="row mt-5">
    <div class="col-md-6 offset-3">
        <input type="text" placeholder="Enter password" name="password-check" />
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 offset-3">
        @* <img src="@Model.Image.ImagePath" />
 *@        <img src="/Uploads/@Model.Image.ImageTitle" width="500"/>
        <h4>password being: @Model.Image.Password</h4>
        <h6>@Model.Image.ImagePath</h6>
    @*     <h2>Session counter: @Model.SessionCount</h2>
        <h2>Cookie counter: @Model.CookieCount</h2>
        <h2>Static counter: @Model.StaticCount</h2> *@
        <h1>Views: @Model.StaticCount</h1>

        @if(Model.AllowIn)
        {
            <h1>Yes i let you in. welcome!</h1>
        }

        else
        {
            <h1>why are you here? who let you in?</h1>
        }
    </div>
</div>